<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryMVC.styles.css" asp-append-version="true" />
</head>
<body>
    
        <div class="maindiv">
            <h1><a asp-controller="Home" asp-action="Index">LIBRARY</a></h1>

            <a class="navButton" asp-controller="Book" asp-action="ManageBook">Kitap Yönetimi</a>
            <a class="navButton" asp-controller="Book" asp-action="Loan">Kiralama Yönetimi</a>
            <a class="navButton" asp-controller="Home" asp-action="Contact">İletişim</a>
            <a class="navButton" asp-controller="Home" asp-action="Login">Giris Yap</a>
            
        </div>

        <div class="background-overlay"></div>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
