@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/Index.css" rel="stylesheet" />

<div class="search">
    <h1 class="h1search">LIBRARY</h1>
    <p>A world of knowledge at your fingertips</p>
    <div>
        <input type="text" placeholder="Search" />
        <script src="giris_yap.js"></script>
    </div>
</div>