@{
    ViewData[index: "Title"] = "Login";
}

<link href="~/css/Login.css" rel="stylesheet" />

<div class="giris">
    <h1>Giriş Yap</h1>
    <div>
        <h3 style="display: inline">Kullanıcı Adı :</h3>
        <br />
        <input type="text" placeholder="Email / Kullanıcı Adı" id="username" />
    </div>

    <div>
        <h3 style="display: inline">Şifre :</h3>
        <br />
        <input type="password"
               placeholder="Şifreniz"
               id="password"
               disabled="disabled" />
    </div>
    <br />
    <a href="">Şifremi Unuttum</a>
    <br />
    <br />
    <button class="btn_giris" onclick="checkPassword()">Giriş Yap</button>

    <p>Hesabın yokmu ? <a asp-controller="Home" asp-action="Register">Kayıt Ol</a></p>
    <script src="~/js/girisyap.js"></script>
</div>