
h1 {
    color: rgb(201, 201, 201);
    margin-top: -3px;
    margin-left: 35%;
    font-weight: bolder;
}


h3 {
    margin-left: 5px;
    display: inline-block;
    color: rgb(201, 201, 201);
    font-weight: bolder;
}

a{
    color: rgb(248, 248, 248);
    font-size: 13px;
}


input {
    display: block;
    background-color: rgba(141, 115, 115, 0.336);
    border: 1px solid rgb(204, 201, 199);
    border-radius: 10px;
    width: 100%;
    height: 25px;
}

    input:disabled {
        background-color: #f0f0f0;
        color: #a0a0a0;
        cursor: not-allowed;
        border-color: #e0e0e0;
        opacity: 0.8;
    }

    input:focus {
        box-shadow: 0px 0px 20px rgb(204, 201, 199);
    }

.giris {
    width: 30%;
    height: 60%;
    margin: 10% 35%;
    padding: 20px;
    background-color: #663614;
    border-radius: 10%;
    box-shadow: 0px 0px 20px rgba(139, 91, 63, 1);
}

.btn_giris {
    margin-top: -10px;
    background-color: #857d77;
    border: 2px solid #857d77;
    border-radius: 4px;
    pad: px;
}

    .btn_giris:hover {
        transform: translate(2px );
        box-shadow: 0px 0px 20px rgb(204, 201, 199);
    }
